<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alessandro.gosafe">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:label="GoSafe"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <service android:name=".firebase.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".beacon.BluetoothLeService" ></service>
        <service android:name=".server.CheckForDbUpdatesService"></service>

        <activity
            android:name=".VaiActivity"
            android:theme="@style/AppTheme"
            android:label="GoSafe - Vai"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ModificaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="GoSafe - Modifica"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MappeActivity"
            android:theme="@style/AppTheme"
            android:label="GoSafe - Mappe"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProfiloActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="GoSafe - Profilo"
            android:screenOrientation="portrait"/>
        <activity
                android:name=".EmergenzaActivity"
                android:theme="@style/AppTheme"
            android:label="Emergenza!"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CheckLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrazioneActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>